<!-- Top messages -->
<div class="success" *ngIf="successMsg">{{ successMsg }}</div>
<div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>

<!-- Loader -->
<div class="loader" *ngIf="loading">
  ⏳ Processing command, please wait...
</div>

<div class="cards-wrapper">

  <div class="command-card"
       *ngFor="let c of commands; trackBy: trackByLabel">

    <div class="card-header">
      {{ c.label }}
    </div>

    <textarea
      [(ngModel)]="c.cmd"
      class="cmd-textbox"
      rows="2">
    </textarea>

    <div class="card-footer">
      <button
        class="send-btn"
        (click)="send(c.cmd)"
        [disabled]="loading">
         {{ loading ? 'Processing...' : 'Send Command' }}
      </button>
    </div>

  </div>

</div>
